# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
venv/

# Jupyter / VSCode / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# Datos sensibles
model/model.pkl
model/train_model.py

# Otros