# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
venv/

# Jupyter / VSCode / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# Datos sensibles o pesados
model/

# Otros
.DS_Store
